@font-face {
    font-family: "myfont";
    src: url(fonts/Sarpanch-Medium.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }

:root {
    --cyan: #86cecb;
    --darkgreen: #137a7f;
    --gray: #bec8d1;
    --lightgray: D9D9D9
    --black: #373b3e

}

body {
    background-color: var(--lightgray);
    font-family: myfont;
}

header {
    display: flex;
    justify-content: center;
    padding: 50px;
}

header h1 {
    background-color: var(--cyan);
    padding: 15px;
    width: 40%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    text-align: center;
    padding-top: 50px;
}

.scoreboard {
    padding: 50px;
    font-size: 40px;
}

.click-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 5px;
}

.clicker-button {
    cursor: pointer;
    padding: 10px;
    width: 250px;
    height: 250px;
}



.upgrades-button {
    position: absolute;
    left: -60px;
    top: 50%;

    transform: translateY(-50%);

    width: 60px;
    height: 120px;

    border: none;
    border-radius: 15px 0 0 15px;

    background: var(--cyan);
    font-size: 30px;

    cursor: pointer;
}

.upgrades-button img {
    width: 50px;
    height: 50px;
    padding-top: 5px;
}


.upgrades {
    position: fixed;
    top: 0;
    right: -400px;

    width: 400px;
    height: 100vh;

    background: white;
    box-shadow: -5px 0 15px rgba(0,0,0,0.2);

    transition: right 0.3s ease;

    padding: 20px;
}

.upgrades.open {
    right: 0;
}

.upgrades ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 55px;
}

.upgrade-item {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--darkgreen);
    color: white;
    border-radius: 4px;
    cursor: pointer; 
    user-select: none; 
    transition: background 0.2s ease;
}

.upgrade-item:hover {
    transform: scale(1.05);
}